/* navbar.css */

/* Change navbar background color */
.navbar-custom {
    background-color: #4c5053; /* Dark background color */
  }
  
  /* Make the text color of nav items white */
  .nav-link {
    font-weight: normal !important;  /* Reset bold */
    color: white !important; /* Set the text color to white */
    font-size: 20px;
  }
  
  /* Optional: Adjust navbar link color on hover */
  .nav-link:hover {
    color: #6e8594 !important; /* Blue color when hovering over the nav items */
  }
  
  /* Optional: Customize navbar brand font */
  .navbar-brand {
    font-size: 30px; /* You can adjust this size */
    font-family: 'Cursive', sans-serif; /* Or any other font you prefer */
    color: rgb(255, 255, 255); /* Set the brand text color to white */
  }
  
  /* Optional: Tweak the navbar responsiveness */
  @media (max-width: 767px) {
    .navbar-nav {
      text-align: center;
    }
  }
  