
.navbar-custom {
    background-color: #4c5053; 
  }
  
  .nav-link {
    font-weight: normal !important;  /* Reset bold */
    color: white !important; /* Set the text color to white */
    font-size: 20px;
  }
  
  /* Optional: Adjust navbar link color on hover */
  .nav-link:hover {
    color: #202121 !important; 
  }

  /* Optional: Customize navbar brand font */
  .navbar-brand {
    font-size: 30px; 
    font-family: 'Cursive', sans-serif; 
    color: rgb(253, 255, 254);
  }
  
  /* Optional: Tweak the navbar responsiveness */
  @media (max-width: 767px) {
    .navbar-nav {
      text-align: center;
    }
  }
  